@font-face {
  font-family: "KingandQueenDemo";
  src: url("webFonts/KingandQueenDemo/font.woff2") format("woff2"),
    url("webFonts/KingandQueenDemo/font.woff") format("woff");
}

body {
  margin: 0;
  background-color: #faf8f6;
  font-family: KingandQueenDemo, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
